img {
    width: 300px;
    margin: 10px 0px;
}
div {
    text-align: center;
    margin: 50px 0px;
}
body{
    background-color:black;
}
h1{
    color:white;
}
.picture{
    border:20px groove white;
}
#bunny{
    border:20px groove white;
}
img{
    border:20px groove white;
}